.about {
    height: 100vh;
    padding: 10vw 165px 30px 165px;
}

.about__title {
    margin-bottom: 10vw;
    font-weight: 500;
    font-size: 64px;
    line-height: 52px;
    align-items: center;
    text-align: center;
}

.about__images {
    margin-bottom: 100px;
}

.about__hobbies {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about__hobby {
    background-image: url('../images/3.png');
    background-size: contain;
    width: 21vw;
    height: 21vw;
    border: 1px solid white;
}

.hobby__container {
    z-index: 10;
    width: 21vw;
    height: 21vw;
    box-shadow: 300px 300px 0px 0px rgba(0, 0, 0, .8) inset;
    color: white;
    opacity: 0;
    transition: ease-in-out .1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hobby__text {
    text-align: center;
    font-size: 1.2vw;
}


.hobby__container:hover {
    opacity: 1;
}

@media screen and (max-width: 768px) {

    .about {
        padding: calc(4vw + 40px) 10vw;
    }

    .about__title {
        font-weight: 500;
        font-size: 7vw;
        line-height: 8vw;
        margin-bottom: 4vw;
    }

    .about__hobbies {
        flex-direction: row;
    }

    .about__hobby, .hobby__container{
        width: 30vw;
        height: 30vw;
    }
}
